@{
    ViewData["Title"] = "Tiempos entre las listas";
}

<h2>@ViewData["Title"].</h2>
<h1>El tiempo en la Lista c# es:</h1>
<h3>@ViewData["C1"] (Milisegundos)</h3>
<h3>@ViewData["C2"] (Segundos)</h3>
<h3>@ViewData["C3"] (Minutos)</h3></br>

<h1>El tiempo en la Lista Enlazada es:</h1>
<h3>@ViewData["E1"] (Milisegundos)</h3>
<h3>@ViewData["E2"] (Segundos)</h3>
<h3>@ViewData["E3"] (Minutos)</h3></br>