@model IEnumerable<Laboratorio1.Models.Jugador>

@{
    ViewData["Title"] = "ListPlayer";
}

<h1>ListPlayer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="ListPlayer" method="get">
    <div class="from-action no-gutters">
        <p>
            Search By <select name="SType" value="@ViewData["CurrentFilterType"]">
    <option> </option>
    <option>Name</option>
    <option>Surname</option>
    <option>Club</option>
    <option>Position</option>
</select> 
            :<input type="text" name="SSearch" value="@ViewData["CurrentFilterSearch"]" /><br />
            
    Search By Salary:<input type="text" name="SSalary" value="@ViewData["CurrentFilterSalary"]" />
    <select name="Check" value="@ViewData["CurrentFilterCheck"]">
        <option> </option>
        <option>Less</option>
        <option>Equal</option>
        <option>More</option>
    </select>
    <br />
    <input type="submit" value="Buscar" class="btn-info" />
    <a asp-action="ListPlayer">All List of Player</a>
</p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id=item.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>
